<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<style>
			{{{style}}}
		</style>
	</head>
	<body>
		<textarea id="source">
{{{content}}}
		</textarea>
		<script src="js/remark-latest.min.js"></script>
        <script src="js/jquery-2.1.4.min.js"></script>
    	<script src="js/gist-embed.min.js"></script>
		<script>
			var slideshow = remark.create();
            $(document).ready(function(){
				$('img').on('load',function(){
				    var css;
				    var ratio=$(this).width() / $(this).height();
				    var pratio=$(this).parent().width() / $(this).parent().height();
				    if (ratio<pratio) css={width:'auto', height:'100%'};
				    else css={width:'100%', height:'auto'};
				    $(this).css(css);
				});
                hideLoadingLayer();
    			function hideLoadingLayer(){
    				document.getElementById('preloader').style.visibility = 'hidden';
    				document.getElementById('source').style.visibility = 'normal';
    			}
			});
		</script>
		<script>{{{script}}}</script>
	</body>
</html>
